@font-face {
    font-family: "Modica Black";
    src: url("../fonts/Modica-Black.otf");
}

@font-face {
    font-family: "Betm Rounded";
    src: url("../fonts/BetmRoundedRegular.ttf");
}

body {
    font-family: "Betm Rounded";
    color: white;
}

.cv-body {
    background-color: #913cfa;
}

/* Typography */

h1 {
    margin: 0;
    font-family: "Modica Black";
    font-size: 25vw;
}

h2 {
    margin: 0;
    font-family: "Modica Black";
    font-size: 23vw;
}

h4 {
    font-size: 60px;
}

h5 {
    font-weight: 600;
    font-size: 40px;
}

h6 {
    font-size: 25px;
}

p {
    margin: 0;
    color: #626262;
    font-size: 25px;
    line-height: 1;
}

@media (max-width: 575.98px) {
    h5 {
        font-size: 35px;
    }

    h6 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    h2 {
        font-size: 22vw;
    }
}

/* END Typography */

.text-purple {
    color: #913cfa;
}

.text-white {
    color: white;
}

.progress-bar {
    width: 150px;
    height: 5px;
    background-color: #dec4fd;
}

.progress-bar-fill {
    height: 5px;
    background-color: #913cfa;
}

.info-block {
    width: 600px;
}

section {
    padding: 40px;
}

@media (max-width: 575.98px) {
    .info-block {
        width: 300px;
    }

    section {
        padding: 40px 0px
    }

    .hello-title {
        order: -1;
    }
}


/* Section About Me */

.about-me-block {
    padding: 40px 40px 40px 40px;
    width: 100%;
    background-color: white;
}

.about-me-hello-img {
    height: 200px;
    /* animation: jumpCat 4.8s ease infinite; */
}

@media (max-width: 575.98px) {}

/*  END Section About Me */

/* Section Skills */

.skills-block {
    position: relative;
    padding: 40px 40px 40px 40px;
    width: 100%;
    background-color: white;
}

.skills-list-box {
    padding: 40px 60px 20px 60px;
    border: 3px solid #913cfa;
    border-radius: 20px;
}

.skills-logo {
    position: absolute;
    background-color: white;
    top: 20px;
    left: 40px;
    width: 120px;
}

.skill-box {
    width: 150px;
}

.skills-list-box .col {
    margin-bottom: 20px;
}

.skill-box-img-container {
    margin-bottom: 25px;
}

.skill-box-img {
    width: 120px;
    height: 120px;
    padding: 20px 20px 20px 20px;
    border-radius: 3px;
    border: 2px solid #913cfa;
}

.skill-box-img:hover {
    animation: rotate 0.45s ease 0s 1 normal forwards;
}

.skill-box-img:hover img {
    animation: negative-rotate 0.45s ease 0s 1 normal forwards;
}

/* END Section Skills */

/* Section Works */

.works-block {
    padding: 40px 40px 40px 40px;
    width: 100%;
}

.work-frame-block {
    position: absolute;
    width: 400px;
    height: 540px;
    top: -30px;
    right: -40px;
    background: url("../images/frame.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.work-frame {
    width: 400px;
    height: 540px;
    position: relative;
}

.work-frame:hover {
    animation: shake 0.5s;
    cursor: pointer;
}

.work-frame-bg {
    width: 320px;
    height: 480px;
    position: relative;
    z-index: 0;
    background-color: white;
    padding: 55px 53px;
}

.info-of-project {
    margin-top: 20px;
}

.glass-container {
    padding: 10px 70px;
}

.glass {
    transform: rotate(0.5deg);
    position: absolute;
    width: 400px;
    height: 180px;
    margin-top: -10px;
    margin-left: -70px;
    background: url("../images/glass.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.wood-container {
    padding: 20px 40px;
    width: 350px;
    height: 200px;
    background: url("../images/wood.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 575.98px) {
    .work-frame-block {
        width: 300px;
        height: 400px;
        top: -15px;
        right: -30px;
    }

    .work-frame {
        width: 250px;
        height: 400px;
    }

    .work-frame-bg {
        width: 250px;
        height: 350px;
        padding: 55px 53px;
    }

    .wood-container {
        padding: 15px 20px;
        width: 270px;
        height: 170px;
    }
}

/* Modal */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10000;
    /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    margin: 10% auto;
    padding: 60px;
    width: 50%;
    height: 67.5vw;
    border: none;
    animation: animatetop 0.5s;
}

.modal-frame {
    background: url("../images/frame.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -4%;
    left: -4%;
    width: 110%;
    height: 110%;
}

/* End Modal */

/* END Section Works */

/* Section Contact */

.contacts-block {
    position: relative;
    padding: 40px 40px 40px 40px;
    width: 100%;
    background-color: white;
}

.contacts-box {
    padding: 40px 60px 20px 60px;
}

.contacts-icon {
    width: 30px;
    height: 30px;
}

.contacts-cat {
    height: 275px;
}

@media (max-width: 575.98px) {
    .contacts-box {
        padding: 0px;
    }

    .contacts-cat {
        width: 100%;
        height: auto;
    }
}

/* END Section Contacts */

/* Animation */

.box span {
    position: relative;
    top: 20px;
    color: #913cfa;
    font-size: 60px;
    font-weight: 600;
    animation: bounce 0.45s ease infinite alternate;
}

@keyframes bounce {
    100% {
        top: -20px;
    }
}

.box span:nth-child(2) {
    animation-delay: 0.1s;
}

.box span:nth-child(3) {
    animation-delay: 0.2s;
}

.box span:nth-child(4) {
    animation-delay: 0.3s;
}

.box span:nth-child(5) {
    animation-delay: 0.4s;
}

/* @keyframes jumpCat {
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
        margin-top: -40px;
    }
} */

@keyframes jumpCat {
    5% {
        margin-top: -40px;
        transform: rotate(-10deg) rotateY(180deg);
    }

    10% {
        margin-top: 0px;
        transform: rotate(0deg) rotateY(180deg);
    }

    15% {
        margin-top: -40px;
        transform: rotate(-10deg) rotateY(180deg);
    }

    20% {
        transform: rotate(0deg) rotateY(180deg);
        margin-top: 0px;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(45deg);
    }
}

@keyframes negative-rotate {
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes shake {

    20%,
    60% {
        transform: rotate(2deg);
    }

    40%,
    80% {
        transform: rotate(-2deg);
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* End Animation */